body{
	background: lightskyblue;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

/* Popular page */

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: navy;
}

.languages{
    display: flex;
    justify-content: center;
}

.languages li{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.popular-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular-item{
    margin:20px;
    text-align: center;
}

.space-list-items{
    margin-bottom: 7px;
}

.avatar{
    width: 150px;
    border-radius: 50%;
}

.popular-rank{
    font-size: 20px;
    margin: 10px;
}

.nav{
    display: flex;
}

.active{
    font-weight: bold;
}

.nav li{
    margin-right: 15px;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.button{
    color: aliceblue;
    background-color: black;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    width: 250px;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
}